<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock title %}
{% block description %}{% endblock description %}


{% block content %}

<div class="row">
        <div align="center">
            <ul class="pagination">
                {% if post.has_previous %}
                    <li class="arrow"><a href="/company/category/{{ category.slug }}?page={{ pag }}{{ post.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><a href="">&laquo;</a></li>
                {% endif %}
                {% for pag in post.paginator.page_range %}
                    {% if pag == post.number %}
                        <li class="active"><a href="/company/category/{{ category.slug }}?page={{ pag }}">{{ pag }}</a></li>
                    {% else %}
                        <li><a href="/company/category/{{ category.slug }}?page={{ pag }}">{{ pag }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if post.has_next %}
                    <li class="arrow"><a href="/company/category/{{ category.slug }}?page={{ pag }}{{ post.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><a href="">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>




{% endblock content %}