<!-- templates/post_delete.html -->
{% extends 'base.html' %}

{% block content %}


{% if user.is_authenticated %}
<h1>Delete post</h1>
<form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ post.title }}"?</p>
    <input type="submit" value="Confirm"/>
</form>

{% else %}
<p><span>You are not logged in. </span><a href="{% url 'login' %}">Log In</a></p>
<p><span>Register an account </span><a href="{% url 'signup' %}">Registration</a></p>
{% endif %}
{% endblock content %}